.container {
  margin: 0;
  padding: 0;
  text-align: center;
  background: whitesmoke;
}
.ant-input-affix-wrapper {
  border-radius: 12px 0px 0px 12px !important;
  border: 1px solid #ff641f !important;
}
.ant-input-affix-wrapper:hover {
  border: 1px solid #ff641f !important;
}
.ant-input-search-button {
  border-radius: 0px 12px 12px 0px !important;
  border: 1px solid #ff641f !important;
  background: black;
  color: #ff641f;
}
.ant-input-search-button:hover {
  border-radius: 0px 12px 12px 0px !important;
  border: 1px solid #ff641f !important;
  background: #ff641f;
  color: black;
}
